.header {
    background-color: #A3C6C4;
    border-radius: .3em;
    box-shadow: 2px 2px 2px  #b6b6b6;
}

.activity {
    background-color: rgb(112, 179, 175);
    border-radius: .3em;
    box-shadow: 2px 2px 2px  #b6b6b6;   
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

 .header h1 {
font-size: 22px;
 }

.header h4 {
    font-size: 18px;
}

.button {
    padding: 3px;
}

.myActivity {
    font-size: 14px;
}

.aboutMe p{
    font-size: large;
}
}