.myQuestionBackground {
    background-color: #E0E7E9;
}

.myQuestions {
    background-color: #A3C6C4;
    padding: 1em;
    border-radius: .3em;
    box-shadow: 2px 2px 2px  #b6b6b6;
    padding-bottom: 1px;
}

.myQuestions h5{
color: black;
}

.iconss {
    margin: 0 .5em;
    justify-content: space-between;
}